* {
    margin: 0;
    padding: 0;
}

body {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.menu {
    width: 100%;
    display: flex;
    align-items: center;
    margin: auto;
}


.menu-box {
    display: flex;
    height: 100%;
    justify-content: space-between;
    color: white;
}


img.logo {
    width: 110px;
    margin-top: 4px;

}

.botao-inicio {
    height: 100%;
    width: 115px;
    font-weight: bold;
    font-size: 19px;
    background: transparent;
    border: none;
    color: white;
}

.botao-inicio:hover {
    background-color: #356b6578 !important;
}

.pesquisa {
    width: 380px;
    height: 30px;
    margin-right: 5px;
    font-size: 13px;
    border-left: 2px;
    background-color: #356b6578 !important;
    border: none;
    align-items: center;
    padding: 2px;
    color: white;
}

.pesquisa::placeholder {
    color: white;
    padding: 5px;
}

.botao-not. {
    height: 100%;
    width: 80px;
    background-color: transparent;
    border: none;
}

.botao-not.fas.fa-bell.sino {
    color: white;
    font-size: 25px
}

.login {
    border-radius: 50%;
    width: 35px;
    height: 35px;
    margin-right: 10px
}

main {
    display: flex;
    max-width: 1200px;
    margin: auto;
}

main .noticias {
    width: 675px;
    height: 600px;
}

.noticias-box {
    width: 600px;
    height: 200px;
    background-color: whitesmoke;
    margin-top: 10px;
    margin-bottom: 10px;
    padding: 10px;
}

.noticias-recentes {
    width: 100px;
    height: 180px;
    border-radius: 4px;
    box-shadow: 0px 1px 2px 2px rgb(0 0 0 / 8%);
    margin-bottom: 10px;
    
}

img.noticiaum-img {
    width: 50px;
    height: 100px;

}

.noticias-text {
    font-size: 10px;
}

.box-1 {
    width: 450px;
    background-color: whitesmoke;
    display: flex;
    flex-direction: column;
}

.sistemas-e-processos {
    width: 100%;
    height: 400px;
    background-color: whitesmoke;
}

.birthday {
    width: 100%;
    height: 450px;
    background-color: whitesmoke;
}

header {
    background: url('./Imag/patternECOStransparente.png'), linear-gradient(178deg, rgba(41, 91, 167, 1) 0%, rgba(120, 180, 84, 1) 100%);
    padding: 10px 20px;

}

h1 {
    font-size: small;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

h2 {
    font-size: small;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

